.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	min-width: 200px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--bg-header-color);

	background-color: var(--accent-color);
	border-radius: 4px;
	border: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: var(--bg-transition);

	&--centered {
		margin: 0 auto;
	}

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

.close-button {
	position: absolute;
	top: 11px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 0;

	color: #000000;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.close-button__icon {
	fill: currentColor;
	transition: var(--color-transition);

	.close-button:hover &,
	.close-button:focus & {
		color: var(--accent-color);
	}
}