.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: calc(28 / 24);
	color: var(--logo-color);

	@include desktop {
		font-size: 26px;
		line-height: calc(31 / 26);
	}

	&__text {
		color: var(--accent-color);
	}

	&--light {
		color: var(--bg-header-color);
	}
}